<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<!--<form class="form-horizontal" name="launchWorkflowForm">
    <div class="control-group" ng-class="{error: launchWorkflowForm.name.$invalid}">
        <label>Name</label>
        <input type="text" name="name" ng-model="project.name" required>
    <span ng-show="myForm.name.$error.required" class="help-inline">
        Required</span>
    </div>

    <div class="control-group" ng-class="{error: myForm.site.$invalid}">
        <label>Website</label>
        <input type="url" name="site" ng-model="project.site" required>
    <span ng-show="myForm.site.$error.required" class="help-inline">
        Required</span>
    <span ng-show="myForm.site.$error.url" class="help-inline">
        Not a URL</span>
    </div>

    <label>Description</label>
    <textarea name="description" ng-model="project.description"></textarea>

    <br>
    <a href="#/" class="btn">Cancel</a>
    <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
            class="btn btn-primary">Save</button>
    <button ng-click="destroy()"
            ng-show="project.$id" class="btn btn-danger">Delete</button>
</form> -->


<div class="modal hide fade" id="launchWorkflow" ui-if="isWorkflowOpen" aria-labelledby="runWorkflowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Launch Workflow</h3>
    </div>
    <div class="modal-body">
    <form class="form-horizontal">
        <div class="control-group" ng-repeat="input in workflowInputs">
            <label class="control-label" for={{input.id}}>{{input.name}}  {{input.datatype}}</label>
            <div class="controls">
                <input type="text" id={{input.id}} placeholder={{input.value}} ng-model={{input.name}} required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputExperimentName"><i class=" icon-pencil icon-white"></i></label>
            <div class="controls">
                <input type="text" id="inputExperimentName" placeholder="Experiment Name" ng-model="experimentName" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputWorkflowInterpreterURL"><i class=" icon-upload icon-white"></i></label>
            <div class="controls">
                <input type="url" id="inputWorkflowInterpreterURL" placeholder="Workflow Interpreter URL" ng-model="workflowInterpreterURL" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputGFacURL"><i class=" icon-upload icon-white"></i></label>
            <div class="controls">
                <input type="url" id="inputGFacURL" placeholder="GFac URL" ng-model="gfacURL" required="">
            </div>
        </div>
    </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary">Run</a>
        <a href="#" class="btn " data-dismiss="modal" aria-hidden="true">Cancel</a>
    </div>
</div>

<div class="modal hide fade" id="addHost" aria-labelledby="addHostModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Register Host</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputHostId"><i class=" icon-pencil icon-white"></i></label>
                <div class="controls">
                    <input type="text" id="inputHostId" placeholder="Host Id" ng-model="hostId">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputHostAddress"><i class=" icon-upload icon-white"></i></label>
                <div class="controls">
                    <input type="url" id="inputHostAddress" placeholder="Host Address" ng-model="hostAddress">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary">Save</a>
        <a href="#" class="btn " data-dismiss="modal" aria-hidden="true">Cancel</a>
    </div>
</div>


<div class="modal hide fade" id="newApplicationDeploy" aria-labelledby="addHostModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>New Application Deployment</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="applicationHost">Application Host: </label>
                <div class="controls">
                    <select id="applicationHost"  ng-model="applicationHost" ng-options="host.name for host in hostList"></select> <a href="#addHost" role="button" data-toggle="modal" title="Create New Host"><i class="icon-plus-sign icon-white"></i></a>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="executablePath">Executable Path</label>
                <div class="controls">
                    <input type="url" id="executablePath" placeholder="Executable Path" ng-model="executablePath" required> <i class=" icon-folder-open icon-white"></i>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="scratchWorkingDirectory">Scratch Working Directory</label>
                <div class="controls">
                    <input type="url" id="scratchWorkingDirectory" placeholder="Scratch Working Directory" ng-model="scratchWorkingDirectory" required> <i class=" icon-folder-open icon-white"></i>
                </div>
            </div>
            <div>
                <a href="#" class="btn btn-primary">Advance Application Configuration</a>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary">Add</a>
        <a href="#" class="btn " data-dismiss="modal" aria-hidden="true">Cancel</a>
    </div>
</div>