<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<<for>>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
<form action="{{ url_for("index")}}" method="post">
<label for="firstname">First Name:</label>
<input type="text" id="firstname" name="fname" placeholder="firstname">
<label for="lastname">Last Name:</label>
<input type="text" id="lastname" name="lname" placeholder="lastname">
<button class="submit"> submit</button>
{% endblock %}
</body>
</html>