<ul class="nav nav-stacked">
  <li class="nav-header">Sidebar</li>
  <li class="active"><a href="#">Link</a></li>
  <li><a href="#/create">Link</a></li>
  <li><a href="#/create">Link</a></li>
  <li><a href="#/create">Link</a></li>
  <br>
  <li class="nav-header">Sidebar</li>
  <li><a href="#/create">Link</a></li>
  <li><a href="#/create">Link</a></li>
  <li><a href="#/create">Link</a></li>
  <li><a href="#/create">Link</a></li>
  <li><a href="#/create">Link</a></li>
  <li><a href="#/create">Link</a></li>
  <li><a href="#/create">Link</a></li>
  <br>
  <li class="nav-header">Sidebar</li>
  <li><a href="#/create">Link</a></li>
  <li><a href="#/create">Link</a></li>
  <li><a href="#/create">Link</a></li>
  <li><a href="#/create">Link</a></li>
  <li><a href="#/create">Link</a></li>
</ul>
