<form style="padding:10px;">
  <fieldset>
    <legend>Connect to Airavata</legend>
    <label>Registry URL</label>
    <input type="text" placeholder="http://localhost:8080/airavata-registry/api">
    <label>Gateway</label>
    <input type="text" placeholder="default">
    <label>Username</label>
    <input type="text" placeholder="admin">
    <label>Password</label>
    <input type="password" placeholder="Password">
    <br>
    <button type="submit" class="btn">Connect</button>
  </fieldset>
</form>
