<ul class="nav nav-list">
  <li class="nav-header">Sidebar</li>
  <li class="active"><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
  <li class="nav-header">Sidebar</li>
  <li><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
  <li class="nav-header">Sidebar</li>
  <li><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
  <li><a href="#/monitor">Link</a></li>
</ul>

