# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore files ending with target
*target/

# Ignore files starting with bin
bin/*

# Ignore files starting with dot
.*
!.gitignore


/bin/

*.dat

*.lck

*.ctrl

allocation-manager/airavata-allocation-manager/airavata-allocation-manager-server/sharing_catalog/log/README_DO_NOT_TOUCH_FILES.txt

allocation-manager/airavata-allocation-manager/airavata-allocation-manager-server/sharing_catalog/README_DO_NOT_TOUCH_FILES.txt

allocation-manager/airavata-allocation-manager/airavata-allocation-manager-server/sharing_catalog/seg0/README_DO_NOT_TOUCH_FILES.txt

allocation-manager/airavata-allocation-manager/airavata-allocation-manager-server/sharing_catalog/service.properties

*.xml

*.xml

allocation-manager/airavata-allocation-manager/airavata-allocation-manager-server/src/main/resources/META-INF/persistence.xml
