<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<div>
	<h4>Workflow Error Details</h4>
	<table class="table table-condensed">
		<thead>
		<tr>
			<th style="width:30%">Item</th>
			<th style="width:70%">Value</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Workflow Id</td>
			<td>{{workflow.workflowInstance.workflowExecutionId}}</td>
		</tr>
		<tr>
			<td>Workflow Status</td>
			<td>{{workflow.workflowInstanceStatus.executionStatus}}</td>
		</tr>
		<tr>
			<td colspan="2">
			<div><strong>Workflow Level Error Details</strong></div>
			<div ng-hide="workflowErrors.length>0"><br>No workflow level error details available !</div>
			</td>
		</tr>
		<tr ng-repeat="workflowError in workflowErrors">
			<td colspan="2">
			<div>
			<table class="table table-condensed">
				<thead>
					<tr><th style="width:30%"></th><th style="width:70%"></th></tr>
				</thead>
				<tbody>
					<tr>
					<td>Date</td>
					<td style="color:red;">{{workflowError.errorTime | date:'medium'}}</td>
					</tr>
					<tr>
					<td>Message</td>
					<td style="color:red;">{{workflowError.errorMessage}}</td>
					</tr>
					<tr>
					<td>Description</td>
					<td style="color:red;">{{workflowError.errorDescription}}</td>
					</tr>
				</tbody>
			</table>
			</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<div><strong>Node Level Error Details</strong></div>
			<div ng-hide="nodeErrors.length>0"><br>No node level error details available !</div>
			</td>
		</tr>
		<tr ng-repeat="nodeError in nodeErrors">
			<td colspan="2">
			<div><strong>{{nodeError.type}}</strong></div>
			<div style="margin-left:2%">
			<table class="table table-condensed">
				<thead>
					<tr><th style="width:28%"></th><th style="width:72%"></th></tr>
				</thead>
				<tbody>
					<tr>
					<td>Date</td>
					<td style="color:red;">{{nodeError.errorTime | date:'medium'}}</td>
					</tr>
					<tr>
					<td>Message</td>
					<td style="color:red;">{{nodeError.errorMessage}}</td>
					</tr>
					<tr>
					<td>Description</td>
					<td style="color:red;">{{nodeError.errorDescription}}</td>
					</tr>
				</tbody>
			</table>
			</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>